* {
    margin: auto;
    max-width: 1010px;
}

body {
    margin: 2px;
}

#zeroth {
    background-color: rgb(20, 150, 37);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 215px;
    min-width: 1006px;
    border-radius: 20px;
}

#zeroth .left {
    /* border: 2px solid black; */
    width: 150px;
    height: 150px;
    margin: 39.25px 63px;
}

#zeroth .left img {
    /* width: 100%; */
    margin: auto;
}

#zeroth .right {
    /* border: 2px solid black; */
    width: 700px;
    height: 150px;
    color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#zeroth .right span:nth-child(1) {
    /* border: 2px solid red; */
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 16.5px;
    margin-left: 93.7px;
    margin-right: 93.7px;
    margin-top: 16.5px;

}

#zeroth .right span:nth-child(2) {
    /* border: 2px solid red; */
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 4px;
    margin-bottom: 16.5px;
    margin-left: 204.6px;
    margin-right: 204.617px;
    margin-top: 16.5px;
}


header {
    border: 2px solid black;
    /* padding: 10px; */
    background-color: white;
    color: black;
    max-width: 1010px;
}

nav {
    /* border: 2px solid hotpink; */
    /* padding: 10px; */
    background-color: royalblue;
}

header ul {
    /* border: 2px solid aqua; */
    padding: 0px;
    margin-right: 0px;
    display: flex;
    text-align: center;
    background-color: black;
}

header ul li {
    border: 2px solid white;
    margin-left: 1px;
    list-style: none;
    background-color: black;
    padding: 15px;
    height: 30px;
    min-width: 90px;
    display: flex;
    background-color: black;
    /* overflow: hidden; */
}

header ul li a {
    border: 2px solid black;
    /* padding: 10px; */
    text-decoration: none;
    font-size: 17px;
    color: white;
}


#first {
    /* border: 2px solid gold; */
    font-size: 35px;
    text-align: center;
    height: 125px;
    display: flex;
    color: crimson;
    flex-direction: column;
    justify-content: center;
    min-width: 1010px;
}

@keyframes para1 {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: 10px;
    }
}

@keyframes para2 {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: 137px;
    }
}

@keyframes para3 {
    from {
        margin-left: 119px;
    }

    to {
        margin-left: 0px;
    }
}

@keyframes para4 {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: 115px;
    }
}

#second {
    /* border: 2px solid hotpink; */
    min-width: 1010px;
    display: flex;
    flex-direction: column;
}

#second span {
    /* border: 1px solid red; */
    margin: 1px;

}

#second {
    font-size: 20px;
}

#second a {
    text-decoration: none;
}

#second .para1 {
    margin: auto;
    /* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */

    animation: para1 3s infinite alternate;
    width: 951.567px;
    overflow: hidden;

}

#second .para2 {

    animation: para2 3s infinite alternate;
    width: 870.6px;
    overflow: hidden;
}

#second .para3 {
    animation: para3 3s infinite alternate;
    font-size: 18px;
    width: 888.133px;
    overflow: hidden;
}

#second .para4 {
    animation: para4 3s infinite alternate;
    width: 892.067px;
    overflow: hidden;
}

#third {
    /* border: 2px solid darkviolet; */
    padding: 5px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 165px;
    min-width: 1010px;
}

#third span img {
    width: 40px;
    border-radius: 10px;
}

#third .upper {
    /* border: 2px solid violet; */
    border-radius: 20px;
    background-color: rgb(30, 162, 214);
    margin: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}

#third .lower {
    /* border: 2px solid darkgoldenrod; */
    border-radius: 20px;
    background-color: red;
    margin: auto;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;

}

#third .upper span {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    height: 40px;
    margin: auto;
}

#third a {
    color: white;
    font-weight: bold;
    margin: auto;
    font-size: 18px;
    text-decoration: none;

}

#fourth {
    /* border: 2px solid red; */
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    max-width: 1010px;
}

#fourth div {
    /* border: 2px solid green; */
    display: flex;
}

#fourth p {
    /* border: 2px solid black; */
    margin: 1px;
    width: 245px;
    height: 70px;
    font-size: 25px;
    text-align: center;
}

#fourth a {
    text-decoration: none;
    color: white;
}

#fourth .upper p:nth-child(1) {
    background-color: rgb(134, 138, 8);
}

#fourth .upper p:nth-child(2) {
    background-color: blue;
}

#fourth .upper p:nth-child(3) {
    background-color: orangered;
}

#fourth .upper p:nth-child(4) {
    background-color: brown;
}

#fourth .lower p:nth-child(1) {
    background-color: red;
}

#fourth .lower p:nth-child(2) {
    background-color: green;
}

#fourth .lower p:nth-child(3) {
    background-color: hotpink;
}

#fourth .lower p:nth-child(4) {
    background-color: rgb(39, 173, 226);
}

/* fifth *//*table style*/
.mynewtable {
    clear: both;
    display: block
}

.list-sec {
    width: 100%;
    float: left;
    margin: 0 0 15px
}

.postnew-top {
    display: block;
    width: 100%;
    float: left
}

.mycallmd4 {
    width: 29%;
    background-color: white;
    padding: 5px 0;
    float: left;
    margin: 2%
}

.list,.list ul li {
    width: 100%;
    float: left
}

.mynewtable .callmd4-new {
    height: 700px;
    position: relative;
    border-radius: 0
}

.mynewtable .callmd4third-new {
    height: 962px;
    position: relative;
    border-radius: 0
}

.list {
    padding-bottom: 20px;
    border: 1px solid #4285f4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px
}

.mynewtable .list h2 {
    background-color: #4285f4;
    font-size: 22px;
    padding: 3px;
    color: #fff;
    margin: 0 0 10px
}

.list ul {
    margin: 0 0 0 15px;
    padding: 0
}

.list ul li {
    margin: 0 0 7px;
    padding: 0;
    display: block
}

.mynewtable .list ul li a {
    float: left;
    color: #0e24ec;
    font-size: 15px;
    margin: 0;
    padding: 3px 0
}

.postnew-left {
    float: left;
    display: inline-block;
    width: 88%
}

.postnew-right {
    float: right;
    display: inline-block;
    padding-left: 5px;
    width: 10%
}

.list ul li img {
    width: 13px;
    height: 13px;
    margin-bottom: -7px;
    margin-left: 5px
}

.fa-print {
    background: url() 0 0/contain rgba(255, 0, 0, 0);
    display: inline-block;
    height: 14px;
    margin-left: 10px;
    width: 14px;
    display: none
}

.details-job {
    width: 100%;
    margin-top: 10px
}

.details-job,.eligibility-job,.position-job-inner {
    color: #646ef8;
    font-size: 12px;
    font-weight: 400;
    margin: 0 1px;
    padding: 0;
    float: left
}

.daa a,.details-job a {
    color: #fff;
    text-decoration: none
}

.details-job a {
    padding: 7px 5px;
    width: 21%;
    float: right;
    margin-right: 5%;
    background: #337ab7
}

.nw-recruitment1 {
    float: left;
    padding: 4px 0 0;
    border: 1px solid #ddd;
    width: 100%
}

.rec-tab-mid {
    width: 100%
}

@media only screen and (min-width: 768px) {
    .daa-sec {
        display:none
    }
}

.daa-sec {
    width: 90%;
    margin: 1% 5% 2%;
    float: left
}

.daa a {
    width: 100%;
    padding: 10px 0;
    font-size: 17px
}

.abuse a,.cate a,.dat,a {
    border: none;
    text-decoration: none;
    outline: 0
}

.daa {
    width: 47%;
    margin: 1%;
    background-color: #1983bc;
    float: left;
    padding: 6px 0
}

.daa2 {
    width: 100%;
    margin: 3% 0 1%;
    background-color: #de4542
}

.mr2 {
    margin-right: 2%
}

.nw-recruitment1 #newfooter02 h1,.nw-recruitment1 #newfooter02 h2 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 0 15px;
    text-align: justify;
    font-weight: 100
}

.anssylla-gototop {
    font-weight: 400!important;
    text-align: center
}

.nw-recruitment1 #newfooter02 p {
    padding: 0 15px;
    text-align: justify;
    line-height: 17px
}

@media(max-width: 768px) {
    .nw-recruitment1 {
        width:98%;
        margin: 0 1%
    }

    .myhead1 .hd-update {
        font-size: 21px;
        line-height: 15px
    }

    #facebook {
        padding: 0
    }

    #facebook a {
        color: #000;
        font-size: 17px;
        line-height: 21px;
        margin-top: 10px;
        font-weight: 700
    }

    .banner,.content-in,.new-menu1,.page {
        width: 100%
    }

    #facebook a,.new-menu1,.top-date,.top-menus {
        display: none
    }

    .myhead1 .myheading1 {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0
    }

    .myhead1 .myheading1 a {
        font-size: 31px;
        line-height: 30px;
        margin-bottom: 5px
    }

    .header {
        padding: 5px 0
    }

    #facebook a.webinhindi-mobile {
        display: inline-block;
        text-align: center;
        float: left;
        margin: 5px 15px 0;
        width: auto;
        font-size: 15px!important
    }

    .mobile-divmain #facebook {
        margin: 0;
        overflow-x: scroll
    }

    .mobile-divmain #facebook #rightscroll {
        width: 370px
    }

    .mymarquee02 marquee {
        display: none!important
    }

    .service-sec .service-sec {
        margin-top: 0
    }

    .clr1,.clr2,.clr3,.clr4,.clr5,.clr6,.clr7,.clr8 {
        width: 50%
    }

    .clr3,.clr4,.clr7,.clr8 {
        display: none
    }

    .service a {
        font-size: 14px;
        line-height: 20px
    }

    .mycallmd4 {
        width: 100%;
        float: none;
        margin: 0
    }

    .list {
        width: 98%;
        margin-left: 1%
    }

    .mobile4toptab {
        width: 100%;
        float: left;
        background-color: #fff
    }

    .list h2 {
        font-size: 22px;
        padding: 3px;
        text-align: center;
        line-height: 35px;
        margin: 0 0 10px
    }

    .nw-recruitment1 #newfooter02 p {
        padding: 0 15px
    }

    .myadv {
        margin-top: 0;
        margin-bottom: 3px
    }
}

.anssylla-mobile {
    display: block;
    width: 98%;
    float: left;
    margin-left: 1%;
    margin-bottom: 10px
}

.anssylla-mobile a {
    padding: 10px 0;
    display: inline-block;
    width: 32.7%;
    text-align: center;
    color: #00e;
    float: left;
    font-size: 18px;
    border: 1px solid #ccc;
    border-collapse: collapse
}

.anssylla-gototop {
    width: 100%;
    padding: 6px 0!important;
    font-size: 16px;
    display: block;
    color: #350ceb!important;
    background-color: #dedede;
    margin-bottom: 5px;
    text-decoration: underline;
    clear: both
}

@media(min-width: 768px) {
    .anssylla-gototop,.anssylla-mobile {
        display:none
    }
}

.top-date {
    display: none
}

@media(max-width: 768px) {
    .postnew-right {
        display:none
    }

    .list ul {
        margin: 0
    }

    .list ul li {
        margin: 0 0 7px;
        padding: 0 0 0 5px;
        display: block;
        width: 95%
    }

    .list ul li span {
        display: inline-block;
        line-height: 20px;
        color: #999;
        font-size: 15px
    }

    .postnew-left {
        width: 93%;
        float: right!important
    }

    .list {
        width: 48%;
        margin-left: 1%;
        border: 1px solid #4285f4
    }

    .mynewtable .list h2 {
        font-size: 16px;
        padding: 0;
        line-height: 30px
    }

    .mynewtable .list ul li a {
        font-size: 13px
    }

    .details-job a {
        width: 35%
    }

    .mycallmd4 {
        padding: 0
    }

    .list-sec {
        margin: 0 0
    }

    .service {
        padding: 5px 0;
        height: 40px;
        overflow: hidden
    }

    .mynewtable .callmd4-new {
        height: 660px
    }

    .myhead1 .myheading1 a span {
        font-size: 25px
    }

    .mynewtable .callmd4third-new {
        height: 1140px
    }

    .stickyftr-mobile {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0
    }

    .stickyftr-mobile a {
        padding: 6px 0;
        width: 100%;
        float: left;
        text-decoration: none;
        text-align: center;
        background: transparent linear-gradient(160deg,#02ccba,#aa7ecd) repeat scroll 0 0;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: .3px;
        line-height: 20px;
        margin: 0
    }

    .stickyftr-mobile a span {
        display: block;
        background-color: #1677f0;
        color: #000;
        font-size: 13px;
        font-weight: 600;
        width: 180px;
        height: 30px;
        margin: auto;
        margin-top: 3px;
        border-radius: 5px;
        line-height: 2.3
    }

    .footer-btm {
        margin-bottom: 40px
    }

    .list ul li img {
        display: none
    }
}

@media screen and (min-width: 768px) {
    .stickyftr-mobile {
        display:none
    }
}

.top3col .top3col-1 .callmd4third-new,.top3col .top3col-3 .callmd4third-new {
    height: 1252px
}

.top3col .top3col-2 .callmd4-new:first-child {
    height: 370px
}

.top3col .top3col-2 .callmd4-new:last-child {
    height: 840px
}


/* sixth */

/* Seventh */

#seventh {
    margin-top: 100px;
    border: 2px solid black;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    min-width: 1010px;
    margin: auto;
}

#seventh div {
    /* border: 2px solid gold; */
    margin: auto;
    padding: 10px 20px;
    font-size: 25px;
    text-align: center;


}

#seventh p {
    background-color: rgb(14, 126, 107);
    color: white;
    font-size: 30px;
    padding: 0px;
    text-align: center;
    margin: 45px 0px;
    font-weight: bold;
    letter-spacing: -1px;
}

#seventh .para3 {
    text-align: start;
}

#seventh .para4 {
    text-align: start;
}

footer {
    /* border: 2px solid black; */
    min-width: 1010px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer .column {
    /* border: 2px solid lawngreen; */
    width: 160px;
    height: 350px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

footer span {
    /* border: 2px solid blueviolet; */
    height: 24px;
    text-decoration: none;
    color: grey;
}

footer span a {
    /* border: 2px solid blueviolet; */
    height: 24px;
    text-decoration: none;
    color: rgba(14, 45, 218, 0.986);
}

footer div span:nth-child(1) {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}